
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
textarea, input { outline: none; }
input:focus{ background-color: #EEE;}

.box_active_users {

    width:  25%;
    height: 100%;

    overflow-y: scroll;
    overflow-x: break-word;

    position:   absolute;
    left:       0px;
    top:        0px;

    border-right: 1px solid black;

}

.box_chat {

    width:  75.001%;
    height: 100%;

    position:   absolute;
    left:       25%;
    top:        0px;

}

.box_messages {

    width:  100%;
    height: 87.5%;

    overflow-y: scroll;
    overflow-x: hidden;

}

.box_message_padding {

    width:  100%;
    height: 2.5%;

}

.box_message_input {

    width:  100%;
    height: 10%;

    border-top:1px solid black;
    border-left:1px solid black;
    overflow:hidden;

    overflow-x: break-word;
    overflow-y: scroll;
}

.register_overlay {

    width:  100%;
    height: 100%;

    z-index: 10;

    position:absolute;
    top:0;
    left:0;
    display:block;

    background-color:white;
}

.register_input {

    width: 50%;

    display:        block;
    margin-left:    25%;
    margin-right:   25%;

    position:   relative;
    top:        42.5%;

    text-align: center;

}

#field_active_user {

    width: 100%;

    word-wrap:  break-word;;
    font-size:  24px;
    text-align: center;

    border-bottom: 1px solid black;

}

#field_user_name {

    width:      100%;

    text-align: center;

}

#field_message {

    width:  100%;

    word-wrap:  break-word;
    font-size:  16px;

    border-bottom: 1px solid black;

    padding-left:5px;
    padding-right:5px;
}
#field_message > .user{
    width:20%;
    height:100%;
    display:inline-block;
    line-height: 100%;
}
#field_message > .message{
    width:75%;
    height:100%;
    border-left: 1px solid black;
    padding:2px;
    display:inline-block;

}

#field_message_input {

    width:  100%;
    height: 100%;
    border: 0px;
    font-size: 100%;
    vertical-align: text-top;



    line-height:30px;
    font-size: 20px;

}
#field_message_input:focus {
    background-color:#EEEEEE;
    border : 0px;
}
#messaging_holder {
    width:  100%;
    height: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    z-index:-1;
}
